<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <img src="/images/camera.svg">
    <a href="/homes/new" <%- title === 'New House' ? 'class="active"' : '' %>>New House</a>
    <a href="/homes" <%- title === 'All houses' ? 'class="active"' : '' %>>All Houses</a>
    <a href="/informations/new" <%- title === 'Add information' ? 'class="active"' : '' %>>Add Information</a>
  </nav>
  <main>
    <h1><%= title %></h1>