<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
      <a href="/homes" id="nav1" <%- title === 'All houses' ? 'class="active"' : '' %>>All Homes</a>
    <a href="/homes/new" id="nav2" <%- title === 'New House' ? 'class="active"' : '' %>>New Home</a>
    <a href="/informations/new" id="nav3" <%- title === 'Add information' ? 'class="active"' : '' %>>Add Features</a>
  </nav>
  <main>
    <h1><%= title %></h1>