<%- include('../partials/header') %>
<body>
   
    <form action="/homes/<%= homeId %>?_method=PUT" id="add-review-form" method="post">
    <label>Type of Real Estate:</label>
    <input type="text" name="typeOfRealEstate" value="<%= home.typeOfRealEstate %>">
    <label>Street Address:</label>
    <input type="text" name="streetAddress" value="<%= home.streetAddress %>">
    <label>City:</label>
    <input type="text" name="city" value="<%= home.city %>">
    <label>Built Year:</label>
    <input type="text" name="builtYear" value="<%= home.builtYear %>">
    <label>Price</label>
    <input type="text" name="price" value="<%= home.price %>">
  <input type="submit" id="new-form" value="Update">
</form>
</body>
<%- include('../partials/footer') %>