<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>typeOfRealEstate:</th>
      <th>Built<br>Year</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% homes.forEach(function(h) { %>
      <tr>
        <td><%= h.typeOfRealEstate %></td>
        <td><%= h.builtYear %></td>
        <td><a href="/homes/<%= h._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>