<%- include('../partials/header') %>

<form action="/homes/<%= home._id %>/edit" >
    <input id="add-to-feature" type="submit" Value="Edit This Home">
</form>
<section id="show-page">
  <div>Type of Real Estate: </div>
  <div><%= home.typeOfRealEstate %></div>
  <div>Year Built: </div>
  <div><%= home.builtYear %></div>
  <div>Street Address: </div>
  <div><%= home.streetAddress %></div>
  <div>City:</div>
  <div><%= home.city %></div>
  <div>Price:</div>
  <div><%= home.price %></div>
  
  <div> Feature:</div>
</section>
  <ul>
    <% home.feature.forEach(function (i) { %>
      <li><%= i.feature %></li>
    <% }); %>
  </ul>

<form action="/homes/<%= home._id %>/informations" method="post">
  <select id="add-to-feature" name="informationId">
    <% informations.forEach( function(i) { %>
      <option id="add-to-feature" value="<%= i._id %>"><%= i.feature %></option>
    <% }); %>
  </select>
  <button id="add-to-feature" type="submit">Add Feature</button>
</form>

<h2>Feedback</h2>

<% if (home.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Feedback</th>
        <th>Visit</th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>  
      <% home.reviews.forEach(function(r) { %>
        <tr>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="2"></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>

<h2>Add Feedback:</h2>
<form
  id="add-review-form"
  method="POST"
  action="/homes/<%= home._id %>/reviews"
>
  <label>Feedback:</label>
  <textarea name="content"></textarea>
  <label>Visit:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Post" />
</form> 

<%- include('../partials/footer') %>